
{% extends "layouts/layout_aas.html" %}

{% block pageTitle %}
  End - mygov.scot Service Standard - Assess a service
{% endblock %}

{% block content %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "javascript: window.history.go(-1)"
}) }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-l">This is the end of the assessment</h1>

        <p>You can <a href="javascript: window.history.go(-1)">go back to the previous page</a> and save it to keep a trace if needed (either copy/paste the page or select print in your browser and save as PDF).</p>

        <p>I hope this was useful.</p>
        <p>This is an experiment, you can <a href="/contact">give me some feedback</a> or look at <a href="https://github.com/stephanie-K/assess-a-service" target="_blank" rel="noopener">the code (opens a new tab)</a> if you're interested.</p>

        <div class="govuk-inset-text explanation ">
            <p>If you want to start again with a different service, you need to <a href="/manage-prototype/clear-data">clear the data first</a>.</p>
        </div>

        <h2 class="govuk-heading-m govuk-!-margin-top-9">Extra resources</h2>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-9">
            <li><a href="https://resources.mygov.scot/standards/digital-first/" target="_blank" rel="noopener">Digital First Service Standard</a> - previous one with 22 points</li>
            <li>mygov.scot assets: <a href="https://resources.mygov.scot/assets/images/Design-standards-images/DeveloperDesignGuide.pdf" target="_blank" rel="noopener">Design Guide for Developers</a></li>
            <li>mygov.scot resources: <a href="https://resources.mygov.scot/37f87d5/designing-public-services-in-scotland/why-we-need-design-for-public-services-in-scotland/a-scottish-approach-to-design-for-public-services/" target="_blank" rel="noopener">A Scottish Approach to designing public services</a></li>
            <li><a href="https://www.gov.scot/publications/the-scottish-approach-to-service-design/pages/about-this-resource/" target="_blank" rel="noopener">The Scottish Approach to Service Design (SAtSD)</a></li>
        </ul>

      {% from "govuk/components/button/macro.njk" import govukButton %}
      {{ govukButton({
        text: "Back to homepage",
        href: "/"
      }) }}

      <div class="govuk-inset-text notes ">
          <h2 class="govuk-heading-m">Potential improvements:</h2>
          <ul class="govuk-list govuk-list--bullet">
              <li>Make answers mandatory to avoid skipping one?</li>

          </ul>
      </div>
    </div>
  </div> 
{% endblock %}
