{% extends "layouts/layout_aas.html" %}

{% block pageTitle %}
  Point 10 - mygov.scot Service Standard - Assess a service
{% endblock %}

{% block content %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
  text: "Back",
  href: "javascript: window.history.go(-1)"
}) }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-l">10. Choose the right tools and technology</h1>
      <p><strong><a href="https://resources.mygov.scot/alpha/service-standard/digital-scotland-service-standard/choose-the-right-tools-and-technology/" target="_blank" rel="noopener">See point 10 on resouces.mygov.scot (opens in a new tab)</a></strong></p>
      <p>Choose tools and technology that let you create a high quality service in a cost effective way. Minimise the cost of changing direction in future.</p>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            <strong>Why it’s important</strong>
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>When you make a decision about technology, you’re making a significant investment. The choices you make will have a huge impact on your ability to create, iterate and operate the service in a sustainable way.</p>
          <p>If existing services do not meet current needs and cannot be extended cost-effectively, a new product or service will be required. As well as meeting the need of the current service, any new product or service should also be made available for reuse.</p>          
          <p>If there are no existing services suitable for reuse or off-the-shelf solutions that can be purchased or licensed, then bespoke solutions that meet architecture principles will be considered.</p>        
        </div>
      </details>
      <h2 class="govuk-heading-l">You should do the following</h2>
      <form class="form" method="post">
        <h3 class="govuk-heading-m">Understand the technologies needed to deliver the service</h3>
        <p>Work out the different components required to build and operate the service.</p>
        <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold" for="sg-point10-tech">
            Are you doing it?
            </label>
            <select class="govuk-select" id="sg-point10-tech" name="sg-point10-tech">
            <option value="default" {% if data ['sg-point10-tech'] === 'default' %} selected="true" {% endif %}>Select</option>
            <option value="1" {% if data ['sg-point10-tech'] === '1' %} selected="true" {% endif %}>Aye</option>
            <option value="2" {% if data ['sg-point10-tech'] === '2' %} selected="true" {% endif %}>Need to improve</option>
            <option value="3" {% if data ['sg-point10-tech'] === '3' %} selected="true" {% endif %}>Not yet</option>
            <option value="0" {% if data ['sg-point10-tech'] === '0' %} selected="true" {% endif %}>Not relevant to us</option>
            </select>
        </div>

        <h3 class="govuk-heading-m govuk-!-margin-top-9">Follow the principle of ‘reuse before buy before build’</h3>
        <p>Maximise reuse of existing services and technology components across government.</p>
        <div class="govuk-form-group">
          <label class="govuk-label govuk-!-font-weight-bold" for="sg-point10-reuse">
          Are you doing it?
          </label>
          <select class="govuk-select" id="sg-point10-reuse" name="sg-point10-reuse">
          <option value="default" {% if data ['sg-point10-reuse'] === 'default' %} selected="true" {% endif %}>Select</option>
          <option value="1" {% if data ['sg-point10-reuse'] === '1' %} selected="true" {% endif %}>Aye</option>
          <option value="2" {% if data ['sg-point10-reuse'] === '2' %} selected="true" {% endif %}>Need to improve</option>
          <option value="3" {% if data ['sg-point10-reuse'] === '3' %} selected="true" {% endif %}>Not yet</option>
          <option value="0" {% if data ['sg-point10-reuse'] === '0' %} selected="true" {% endif %}>Not relevant to us</option>
          </select>
        </div>
        <h3 class="govuk-heading-m govuk-!-margin-top-9">Make the service cost effective</h3>
        <p>Use appropriate tools and technologies to create and operate a good service in a cost effective way - for example, by automating things where possible.</p>
        <div class="govuk-form-group">
          <label class="govuk-label govuk-!-font-weight-bold" for="sg-point10-cost">
          Are you doing it?
          </label>
          <select class="govuk-select" id="sg-point10-cost" name="sg-point10-cost">
          <option value="default" {% if data ['sg-point10-cost'] === 'default' %} selected="true" {% endif %}>Select</option>
          <option value="1" {% if data ['sg-point10-cost'] === '1' %} selected="true" {% endif %}>Aye</option>
          <option value="2" {% if data ['sg-point10-cost'] === '2' %} selected="true" {% endif %}>Need to improve</option>
          <option value="3" {% if data ['sg-point10-cost'] === '3' %} selected="true" {% endif %}>Not yet</option>
          <option value="0" {% if data ['sg-point10-cost'] === '0' %} selected="true" {% endif %}>Not relevant to us</option>
          </select>
        </div>
        <h3 class="govuk-heading-m govuk-!-margin-top-9">Show how decisions on technology have been made</h3>
        <p>A technology options appraisal should demonstrate evidence and data-driven decision-making based on quality and cost.</p>
        <div class="govuk-form-group">
          <label class="govuk-label govuk-!-font-weight-bold" for="sg-point10-how">
          Are you doing it?
          </label>
          <select class="govuk-select" id="sg-point10-how" name="sg-point10-how">
          <option value="default" {% if data ['sg-point10-how'] === 'default' %} selected="true" {% endif %}>Select</option>
          <option value="1" {% if data ['sg-point10-how'] === '1' %} selected="true" {% endif %}>Aye</option>
          <option value="2" {% if data ['sg-point10-how'] === '2' %} selected="true" {% endif %}>Need to improve</option>
          <option value="3" {% if data ['sg-point10-how'] === '3' %} selected="true" {% endif %}>Not yet</option>
          <option value="0" {% if data ['sg-point10-how'] === '0' %} selected="true" {% endif %}>Not relevant to us</option>
          </select>
        </div>
        <h3 class="govuk-heading-m govuk-!-margin-top-9">Allow for flexibility when making technology choices</h3>
        <p>Understand the total cost of ownership of the technology and allow for different choices in future - for example, reducing the chances of getting locked into contracts for specific tools and suppliers by using open standards.</p>
        <div class="govuk-form-group">
          <label class="govuk-label govuk-!-font-weight-bold" for="sg-point10-flexibility">
          Are you doing it?
          </label>
          <select class="govuk-select" id="sg-point10-flexibility" name="sg-point10-flexibility">
          <option value="default" {% if data ['sg-point10-flexibility'] === 'default' %} selected="true" {% endif %}>Select</option>
          <option value="1" {% if data ['sg-point10-flexibility'] === '1' %} selected="true" {% endif %}>Aye</option>
          <option value="2" {% if data ['sg-point10-flexibility'] === '2' %} selected="true" {% endif %}>Need to improve</option>
          <option value="3" {% if data ['sg-point10-flexibility'] === '3' %} selected="true" {% endif %}>Not yet</option>
          <option value="0" {% if data ['sg-point10-flexibility'] === '0' %} selected="true" {% endif %}>Not relevant to us</option>
          </select>
        </div>
        <h3 class="govuk-heading-m govuk-!-margin-top-9">Create a sustainable plan for procurement and contract management</h3>
        <p>Reduce risk by breaking procurements into smaller parts where possible.</p>
        <div class="govuk-form-group">
          <label class="govuk-label govuk-!-font-weight-bold" for="sg-point10-sustainable">
          Are you doing it?
          </label>
          <select class="govuk-select" id="sg-point10-sustainable" name="sg-point10-sustainable">
          <option value="default" {% if data ['sg-point10-sustainable'] === 'default' %} selected="true" {% endif %}>Select</option>
          <option value="1" {% if data ['sg-point10-sustainable'] === '1' %} selected="true" {% endif %}>Aye</option>
          <option value="2" {% if data ['sg-point10-sustainable'] === '2' %} selected="true" {% endif %}>Need to improve</option>
          <option value="3" {% if data ['sg-point10-sustainable'] === '3' %} selected="true" {% endif %}>Not yet</option>
          <option value="0" {% if data ['sg-point10-sustainable'] === '0' %} selected="true" {% endif %}>Not relevant to us</option>
          </select>
        </div>
        <h3 class="govuk-heading-m govuk-!-margin-top-9">Consider the impact of your service on the environment</h3>
        <p>Create a service that reduces waste and energy consumption where possible, for example through cloud computing, minimising use of paper and reducing travel needed for the delivery or use of services.</p>
        <div class="govuk-form-group">
          <label class="govuk-label govuk-!-font-weight-bold" for="sg-point10-impact">
          Are you doing it?
          </label>
          <select class="govuk-select" id="sg-point10-impact" name="sg-point10-impact">
          <option value="default" {% if data ['sg-point10-impact'] === 'default' %} selected="true" {% endif %}>Select</option>
          <option value="1" {% if data ['sg-point10-impact'] === '1' %} selected="true" {% endif %}>Aye</option>
          <option value="2" {% if data ['sg-point10-impact'] === '2' %} selected="true" {% endif %}>Need to improve</option>
          <option value="3" {% if data ['sg-point10-impact'] === '3' %} selected="true" {% endif %}>Not yet</option>
          <option value="0" {% if data ['sg-point10-impact'] === '0' %} selected="true" {% endif %}>Not relevant to us</option>
          </select>
        </div>
        <h3 class="govuk-heading-m govuk-!-margin-top-9">Plan to replace legacy technology</h3>
        <p>Understand the legacy technology the service integrates with or depends on and make a plan to phase it out.</p>
        <div class="govuk-form-group">
          <label class="govuk-label govuk-!-font-weight-bold" for="sg-point10-plan">
          Are you doing it?
          </label>
          <select class="govuk-select" id="sg-point10-plan" name="sg-point10-plan">
          <option value="default" {% if data ['sg-point10-plan'] === 'default' %} selected="true" {% endif %}>Select</option>
          <option value="1" {% if data ['sg-point10-plan'] === '1' %} selected="true" {% endif %}>Aye</option>
          <option value="2" {% if data ['sg-point10-plan'] === '2' %} selected="true" {% endif %}>Need to improve</option>
          <option value="3" {% if data ['sg-point10-plan'] === '3' %} selected="true" {% endif %}>Not yet</option>
          <option value="0" {% if data ['sg-point10-plan'] === '0' %} selected="true" {% endif %}>Not relevant to us</option>
          </select>
        </div>

  
    
        
      {% from "govuk/components/button/macro.njk" import govukButton %}
      {{ govukButton({
        text: "Go to point 11"
      }) }} 
    </form>
    </div>
  </div>

{% endblock %}