<ul class="govuk-list govuk-list--bullet">
    <li><strong>5: Highly probable</strong> - There is quantitative evidence and/or a body of pre-existing research which shows that this product or similar products have this effect.
    </li>
    <li><strong>4: Probable </strong> - There is some evidence from internal research that suggests this product or similar products have this effect. It may be worth validating with additional research or testing.</li>
    <li><strong>3: Possible </strong> - There is anecdotal evidence or the team has voiced concerns over the possibility of an effect. Worth doing additional research or testing. </li>
    <li><strong>2: Improbable</strong> - It is unlikely that the product is uniquely encouraging or causing this effect. It may be worth looking into whether specific populations are affected.
    </li>
    <li><strong>1: Highly improbable</strong> - There is quantitative evidence and/or a body of pre-existing research that shows this product does not have this effect, or the product is completely unrelated from this effect.</li>
  </ul>