
        <h2 class="govuk-heading-l"></h2>
        {% from "govuk/components/textarea/macro.njk" import govukTextarea %}
        {{ govukTextarea({
          name: "spot-",
          id: "spot-",
          label: {
            text: "Example of how you might encourage or cause this",
            classes: "govuk-label--m",
            value: data ['spot-']
          },
          hint: {
            text: "Leave empty if not relevant to you."
          }
        }) }}
        {% from "govuk/components/select/macro.njk" import govukSelect %}

        {{ govukSelect({
          id: "chance-",
          name: "chance-",
          label: {
            text: "Chance of effect",
            classes: "govuk-!-font-weight-bold"
          },
          items: [
            {
              value: "Select",
              text: "Select",
              selected: true
            },
            {
              value: "1",
              text: "1: Highly improbable"
            },
            {
              value: "2",
              text: "2: Improbable"
            },
            {
              value: "3",
              text: "3: Possible"
            },
            {
              value: "4",
              text: "4: Probable"
            },
            {
              value: "5",
              text: "5: Highly probable"
            }
          ]
        }) }}

        {{ govukSelect({
          id: "level-",
          name: "level-",
          label: {
            text: "Level of concern",
            classes: "govuk-!-font-weight-bold"
          },
          items: [
            {
              value: "Select",
              text: "Select",
              selected: true
            },
            {
              value: "1",
              text: "1: Least concern"
            },
            {
              value: "2",
              text: "2: Little concern"
            },
            {
              value: "3",
              text: "3: Concerned"
            },
            {
              value: "4",
              text: "4: Very concerned"
            },
            {
              value: "5",
              text: "5: Greatest concern"
            }
          ]
        }) }}

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              See the scale for chance of effect
            </span>
          </summary>
          <div class="govuk-details__text">
            {% include "../includes/chance-of-effect-scale.html"  %}
          </div>
        </details>

