
{% extends "layouts/layout_aas.html" %}

{% block pageTitle %}
  Physical harm - Ethics assessment by Spotify - Assess a service
{% endblock %}

{% block content %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "javascript: window.history.go(-1)"
}) }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-xl">Physical harm</h1>

      <p>There 10 potential effects:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Accidents due to distraction</li>
        <li>Death</li>
        <li>Exploitation of workers</li>
        <li>Exposure of personal data</li>
        <li>Financial insecurity</li>
        <li>Inactivity</li>
        <li>Muscle strain or other injuries</li>
        <li>Neglect of basic self-care</li>
        <li>Sleep deprivation</li>
        <li>Violence</li>
      </ul>
      <div class="govuk-inset-text explanation ">
      <p>For each one on this page, if relevant to you, then write an example and select a number (1-5) for the Risk of effect.</p>
      <p>If not relevant, just move to the next one.</p>
      </div>

      <form class="form" method="post">
      
        <h2 class="govuk-heading-l govuk-!-margin-top-9">Accidents due to distraction</h2>
        {% from "govuk/components/textarea/macro.njk" import govukTextarea %}
        {{ govukTextarea({
          name: "spot-distraction",
          id: "spot-distraction",
          label: {
            text: "Example of how you might encourage or cause this",
            classes: "govuk-label--m",
            value: data ['spot-distraction']
          },
          hint: {
            text: "Leave empty if not relevant to you."
          }
        }) }}

        <div class="govuk-form-group">
          <label class="govuk-label govuk-!-font-weight-bold" for="risk-distraction">
            Risk of effect
          </label>
          <select class="govuk-select" id="risk-distraction" name="risk-distraction">
            <option value="0" {% if data ['risk-distraction'] === '0' %} selected="true" {% endif %}>Select</option>
            <option value="1" {% if data ['risk-distraction'] === '1' %} selected="true" {% endif %}>1: Highly improbable</option>
            <option value="2" {% if data ['risk-distraction'] === '2' %} selected="true" {% endif %}>2: Improbable</option>
            <option value="3" {% if data ['risk-distraction'] === '3' %} selected="true" {% endif %}>3: Possible</option>
            <option value="4" {% if data ['risk-distraction'] === '4' %} selected="true" {% endif %}>4: Probable</option>
            <option value="5" {% if data ['risk-distraction'] === '5' %} selected="true" {% endif %}>5: Highly probable</option>
            
          </select>
        </div>
      
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              See the scale for risk of effect
            </span>
          </summary>
          <div class="govuk-details__text">
            {% include "../includes/risk-of-effect-scale.html"  %}
          </div>
        </details>

        <h2 class="govuk-heading-l">Death</h2>
        {{ govukTextarea({
          name: "spot-death",
          id: "spot-death",
          label: {
            text: "Example of how you might encourage or cause this",
            classes: "govuk-label--m",
            value: data ['spot-death']
          },
          hint: {
            text: "Leave empty if not relevant to you."
          }
        }) }}

        <div class="govuk-form-group">
          <label class="govuk-label govuk-!-font-weight-bold" for="risk-death">
            Risk of effect
          </label>
          <select class="govuk-select" id="risk-death" name="risk-death">
            <option value="0" {% if data ['risk-death'] === '0' %} selected="true" {% endif %}>Select</option>
            <option value="1" {% if data ['risk-death'] === '1' %} selected="true" {% endif %}>1: Highly improbable</option>
            <option value="2" {% if data ['risk-death'] === '2' %} selected="true" {% endif %}>2: Improbable</option>
            <option value="3" {% if data ['risk-death'] === '3' %} selected="true" {% endif %}>3: Possible</option>
            <option value="4" {% if data ['risk-death'] === '4' %} selected="true" {% endif %}>4: Probable</option>
            <option value="5" {% if data ['risk-death'] === '5' %} selected="true" {% endif %}>5: Highly probable</option>
          </select>
        </div>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              See the scale for risk of effect
            </span>
          </summary>
          <div class="govuk-details__text">
            {% include "../includes/risk-of-effect-scale.html"  %}
          </div>
        </details>


        <h2 class="govuk-heading-l">Exploitation of workers</h2>
        {{ govukTextarea({
          name: "spot-exploitation",
          id: "spot-exploitation",
          label: {
            text: "Example of how you might encourage or cause this",
            classes: "govuk-label--m",
            value: data ['spot-exploitation']
          },
          hint: {
            text: "Leave empty if not relevant to you."
          }
        }) }}

        <div class="govuk-form-group">
          <label class="govuk-label govuk-!-font-weight-bold" for="risk-exploitation">
            Risk of effect
          </label>
          <select class="govuk-select" id="risk-exploitation" name="risk-exploitation">
            <option value="0" {% if data ['risk-exploitation'] === '0' %} selected="true" {% endif %}>Select</option>
            <option value="1" {% if data ['risk-exploitation'] === '1' %} selected="true" {% endif %}>1: Highly improbable</option>
            <option value="2" {% if data ['risk-exploitation'] === '2' %} selected="true" {% endif %}>2: Improbable</option>
            <option value="3" {% if data ['risk-exploitation'] === '3' %} selected="true" {% endif %}>3: Possible</option>
            <option value="4" {% if data ['risk-exploitation'] === '4' %} selected="true" {% endif %}>4: Probable</option>
            <option value="5" {% if data ['risk-exploitation'] === '5' %} selected="true" {% endif %}>5: Highly probable</option>
          </select>
        </div>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              See the scale for risk of effect
            </span>
          </summary>
          <div class="govuk-details__text">
            {% include "../includes/risk-of-effect-scale.html"  %}
          </div>
        </details>

        <h2 class="govuk-heading-l">Exposure of personal data</h2>
        {{ govukTextarea({
          name: "spot-data",
          id: "spot-data",
          label: {
            text: "Example of how you might encourage or cause this",
            classes: "govuk-label--m",
            value: data ['spot-data']
          },
          hint: {
            text: "Leave empty if not relevant to you."
          }
        }) }}

        <div class="govuk-form-group">
          <label class="govuk-label govuk-!-font-weight-bold" for="risk-data">
            Risk of effect
          </label>
          <select class="govuk-select" id="risk-data" name="risk-data">
            <option value="0" {% if data ['risk-data'] === '0' %} selected="true" {% endif %}>Select</option>
            <option value="1" {% if data ['risk-data'] === '1' %} selected="true" {% endif %}>1: Highly improbable</option>
            <option value="2" {% if data ['risk-data'] === '2' %} selected="true" {% endif %}>2: Improbable</option>
            <option value="3" {% if data ['risk-data'] === '3' %} selected="true" {% endif %}>3: Possible</option>
            <option value="4" {% if data ['risk-data'] === '4' %} selected="true" {% endif %}>4: Probable</option>
            <option value="5" {% if data ['risk-data'] === '5' %} selected="true" {% endif %}>5: Highly probable</option>
          </select>
        </div>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              See the scale for risk of effect
            </span>
          </summary>
          <div class="govuk-details__text">
            {% include "../includes/risk-of-effect-scale.html"  %}
          </div>
        </details>

        <h2 class="govuk-heading-l">Financial insecurity</h2>
        {{ govukTextarea({
          name: "spot-financial",
          id: "spot-financial",
          label: {
            text: "Example of how you might encourage or cause this",
            classes: "govuk-label--m",
            value: data ['spot-financial']
          },
          hint: {
            text: "Leave empty if not relevant to you."
          }
        }) }}

        <div class="govuk-form-group">
          <label class="govuk-label govuk-!-font-weight-bold" for="risk-financial">
            Risk of effect
          </label>
          <select class="govuk-select" id="risk-financial" name="risk-financial">
            <option value="0" {% if data ['risk-financial'] === '0' %} selected="true" {% endif %}>Select</option>
            <option value="1" {% if data ['risk-financial'] === '1' %} selected="true" {% endif %}>1: Highly improbable</option>
            <option value="2" {% if data ['risk-financial'] === '2' %} selected="true" {% endif %}>2: Improbable</option>
            <option value="3" {% if data ['risk-financial'] === '3' %} selected="true" {% endif %}>3: Possible</option>
            <option value="4" {% if data ['risk-financial'] === '4' %} selected="true" {% endif %}>4: Probable</option>
            <option value="5" {% if data ['risk-financial'] === '5' %} selected="true" {% endif %}>5: Highly probable</option>
          </select>
        </div>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              See the scale for risk of effect
            </span>
          </summary>
          <div class="govuk-details__text">
            {% include "../includes/risk-of-effect-scale.html"  %}
          </div>
        </details>

        <h2 class="govuk-heading-l">Inactivity</h2>

        {{ govukTextarea({
          name: "spot-inactivity",
          id: "spot-inactivity",
          label: {
            text: "Example of how you might encourage or cause this",
            classes: "govuk-label--m",
            value: data ['spot-inactivity']
          },
          hint: {
            text: "Leave empty if not relevant to you."
          }
        }) }}
      
        <div class="govuk-form-group">
          <label class="govuk-label govuk-!-font-weight-bold" for="risk-inactivity">
            Risk of effect
          </label>
          <select class="govuk-select" id="risk-inactivity" name="risk-inactivity">
            <option value="0" {% if data ['risk-inactivity'] === '0' %} selected="true" {% endif %}>Select</option>
            <option value="1" {% if data ['risk-inactivity'] === '1' %} selected="true" {% endif %}>1: Highly improbable</option>
            <option value="2" {% if data ['risk-inactivity'] === '2' %} selected="true" {% endif %}>2: Improbable</option>
            <option value="3" {% if data ['risk-inactivity'] === '3' %} selected="true" {% endif %}>3: Possible</option>
            <option value="4" {% if data ['risk-inactivity'] === '4' %} selected="true" {% endif %}>4: Probable</option>
            <option value="5" {% if data ['risk-inactivity'] === '5' %} selected="true" {% endif %}>5: Highly probable</option>
          </select>
        </div>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              See the scale for risk of effect
            </span>
          </summary>
          <div class="govuk-details__text">
            {% include "../includes/risk-of-effect-scale.html"  %}
          </div>
        </details>

        <h2 class="govuk-heading-l">Muscle strain or other injuries</h2>
      
        {{ govukTextarea({
          name: "spot-injury",
          id: "spot-injury",
          label: {
            text: "Example of how you might encourage or cause this",
            classes: "govuk-label--m",
            value: data ['spot-injury']
          },
          hint: {
            text: "Leave empty if not relevant to you."
          }
        }) }}

        <div class="govuk-form-group">
          <label class="govuk-label govuk-!-font-weight-bold" for="risk-injury">
            Risk of effect
          </label>
          <select class="govuk-select" id="risk-injury" name="risk-injury">
            <option value="0" {% if data ['risk-injury'] === '0' %} selected="true" {% endif %}>Select</option>
            <option value="1" {% if data ['risk-injury'] === '1' %} selected="true" {% endif %}>1: Highly improbable</option>
            <option value="2" {% if data ['risk-injury'] === '2' %} selected="true" {% endif %}>2: Improbable</option>
            <option value="3" {% if data ['risk-injury'] === '3' %} selected="true" {% endif %}>3: Possible</option>
            <option value="4" {% if data ['risk-injury'] === '4' %} selected="true" {% endif %}>4: Probable</option>
            <option value="5" {% if data ['risk-injury'] === '5' %} selected="true" {% endif %}>5: Highly probable</option>
          </select>
        </div>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              See the scale for risk of effect
            </span>
          </summary>
          <div class="govuk-details__text">
            {% include "../includes/risk-of-effect-scale.html"  %}
          </div>
        </details>

        <h2 class="govuk-heading-l">Neglect of basic self-care</h2>
        {{ govukTextarea({
          name: "spot-selfcare",
          id: "spot-selfcare",
          label: {
            text: "Example of how you might encourage or cause this",
            classes: "govuk-label--m",
            value: data ['spot-selfcare']
          },
          hint: {
            text: "Leave empty if not relevant to you."
          }
        }) }}

        <div class="govuk-form-group">
          <label class="govuk-label govuk-!-font-weight-bold" for="risk-selfcare">
            Risk of effect
          </label>
          <select class="govuk-select" id="risk-selfcare" name="risk-selfcare">
            <option value="0" {% if data ['risk-selfcare'] === '0' %} selected="true" {% endif %}>Select</option>
            <option value="1" {% if data ['risk-selfcare'] === '1' %} selected="true" {% endif %}>1: Highly improbable</option>
            <option value="2" {% if data ['risk-selfcare'] === '2' %} selected="true" {% endif %}>2: Improbable</option>
            <option value="3" {% if data ['risk-selfcare'] === '3' %} selected="true" {% endif %}>3: Possible</option>
            <option value="4" {% if data ['risk-selfcare'] === '4' %} selected="true" {% endif %}>4: Probable</option>
            <option value="5" {% if data ['risk-selfcare'] === '5' %} selected="true" {% endif %}>5: Highly probable</option>
          </select>
        </div>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              See the scale for risk of effect
            </span>
          </summary>
          <div class="govuk-details__text">
            {% include "../includes/risk-of-effect-scale.html"  %}
          </div>
        </details>

        <h2 class="govuk-heading-l">Sleep deprivation</h2>
        {{ govukTextarea({
          name: "spot-sleep",
          id: "spot-sleep",
          label: {
            text: "Example of how you might encourage or cause this",
            classes: "govuk-label--m",
            value: data ['spot-sleep']
          },
          hint: {
            text: "Leave empty if not relevant to you."
          }
        }) }}

        <div class="govuk-form-group">
          <label class="govuk-label govuk-!-font-weight-bold" for="risk-sleep">
            Risk of effect
          </label>
          <select class="govuk-select" id="risk-sleep" name="risk-sleep">
            <option value="0" {% if data ['risk-sleep'] === '0' %} selected="true" {% endif %}>Select</option>
            <option value="1" {% if data ['risk-sleep'] === '1' %} selected="true" {% endif %}>1: Highly improbable</option>
            <option value="2" {% if data ['risk-sleep'] === '2' %} selected="true" {% endif %}>2: Improbable</option>
            <option value="3" {% if data ['risk-sleep'] === '3' %} selected="true" {% endif %}>3: Possible</option>
            <option value="4" {% if data ['risk-sleep'] === '4' %} selected="true" {% endif %}>4: Probable</option>
            <option value="5" {% if data ['risk-sleep'] === '5' %} selected="true" {% endif %}>5: Highly probable</option>
          </select>
        </div>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              See the scale for risk of effect
            </span>
          </summary>
          <div class="govuk-details__text">
            {% include "../includes/risk-of-effect-scale.html"  %}
          </div>
        </details>

        <h2 class="govuk-heading-l">Violence</h2>
        {{ govukTextarea({
          name: "spot-violence",
          id: "spot-violence",
          label: {
            text: "Example of how you might encourage or cause this",
            classes: "govuk-label--m",
            value: data ['spot-violence']
          },
          hint: {
            text: "Leave empty if not relevant to you."
          }
        }) }}

        <div class="govuk-form-group">
          <label class="govuk-label govuk-!-font-weight-bold" for="risk-violence">
            Risk of effect
          </label>
          <select class="govuk-select" id="risk-violence" name="risk-violence">
            <option value="0" {% if data ['risk-violence'] === '0' %} selected="true" {% endif %}>Select</option>
            <option value="1" {% if data ['risk-violence'] === '1' %} selected="true" {% endif %}>1: Highly improbable</option>
            <option value="2" {% if data ['risk-violence'] === '2' %} selected="true" {% endif %}>2: Improbable</option>
            <option value="3" {% if data ['risk-violence'] === '3' %} selected="true" {% endif %}>3: Possible</option>
            <option value="4" {% if data ['risk-violence'] === '4' %} selected="true" {% endif %}>4: Probable</option>
            <option value="5" {% if data ['risk-violence'] === '5' %} selected="true" {% endif %}>5: Highly probable</option>
          </select>
        </div>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              See the scale for risk of effect
            </span>
          </summary>
          <div class="govuk-details__text">
            {% include "../includes/risk-of-effect-scale.html"  %}
          </div>
        </details>

      {% from "govuk/components/button/macro.njk" import govukButton %}
      {{ govukButton({
        text: "Continue"
      }) }}
      </form>
    </div>
  </div> 
{% endblock %}

