
{% extends "layouts/layout_aas.html" %}

{% block pageTitle %}
  About - Assess a service
{% endblock %}

{% block content %}
<div class="govuk-!-margin-bottom-9 govuk-!-margin-top-5"><strong class="govuk-tag govuk-tag--red govuk-!-font-size-24">Under construction</strong></div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">About</h1>
      <p>This is a prototype using assessment frameworks which are public. It's an experiment.</p>
      <p>I'm using the  The GOV.UK Prototype Kit {{releaseVersion}}</p>
      <p>This kit lets you rapidly create HTML prototypes of GOV.UK services. I've customised it so it doesn't look like a GOVUK service.</p>
      <p>You can <a href="https://blog.chezleskrus.com/2020/02/26/how-to-customise-the-gov-uk-prototype-kit/" target="_blank" rel="noopener">learn how to customise it in this blog post</a>.</p>
      <p><a href="https://design-system.service.gov.uk" target="_blank" rel="noopener">Learn more about the GOV.UK Design System and the prototype</a>.</p>
    </div>
  </div>

{% endblock %}
