
{% extends "layout_aas.html" %}

{% block pageTitle %}
  Home - Assess a service
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Home
      </h1>
     
      <h2 class="govuk-heading-l">What is a service?</h2>
      <p>"A service is something that helps someone to do something" - Lou Downe</p>

      <h2 class="govuk-heading-l">Choose an assessment framework</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/govuk/govuk-start">GOVUK Service standard</a></li>
        <li><a href="/gov-scot/gov-scot-start">Scottish Government Service standard</a></li>
        <li><a href="/good-service-scale/scale-start">Good service scale</a> (by <a href="https://good.services/the-good-services-scale" target="_blank" rel="noopener">Lou Downe</a>)</li>
        <li><a href="/spotify/spotify-start">Ethics Assessment</a> by Spotify</li>
      </ul>

      <h2 class="govuk-heading-l">Other sources to assess your service</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://www.idean.com/spotlight/the-universal-score-how-to-push-inclusive-ideas-through-the-product-funnel" target="_blank" rel="noopener">Inclusive evaluation tool by IDEAN (Universal SCore)</a></li>
        <li>more will be added</li>
      </ul>
      
    </div>
  </div>

{% endblock %}
