
{% extends "layout_aas.html" %}

{% block pageTitle %}
  Home - Assess a service
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Home
      </h1>
     
      <h2 class="govuk-heading-m">What is a service?</h2>
      <p>"A service is something that helps someone to do something" - Lou Downe</p>

      <h2 class="govuk-heading-m">Choose an assessment framework</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a>GOVUK Service standard</a></li>
        <li><a>Scottish Government Service standard</a></li>
        <li><a>Good service scale</a> (by <a href="https://good.services/the-good-services-scale" target="_blank" rel="noopener">Lou Downe</a>)</li>
      </ul>
    </div>
  </div>

{% endblock %}
